body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;}
.awesome{
    padding: 0 109px 109px 109px ;
    margin: 0 auto;
}
.title {
   
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 25px;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #212121;
}
hr{
    width: 64px;
    border: 1px solid #E72424;
    margin-bottom: 30px;
}
.subtitle{
    margin: 0 auto; 
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #86878B;
    margin-bottom: 67px;
}
.infoblock{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sub_block{
    min-height: 250px;
    max-width: 350px;
    margin: 0 32px;
}
.awesome_img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 70px;
    width: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin-bottom: 30px;
}
.awesome_img img{
    margin: auto;

}
.sub_block_name{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    text-align: center;
    margin-bottom: 16px;
}
.sub_block_descr{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    width: 350px;
    color: #000000;
    text-align: center;

}
.stylish {
    min-height: 326px;
    background: url(../img/stylish_bg.png) center center no-repeat;
}

.gray_bg{
    background-color: rgba(0,0,0,0.65);
    width: 100%;
    min-height: 326px;
}

.hr_white{
    border-color: #FFFFFF;
}

.wht_title{
    color: #FFFFFF;
    padding-top: 76px;
    margin-bottom: 48px;
}
.wht_subtitle{
    font-family: Raleway;
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}
.download{
    display: flex;
    justify-content: center;
    width: 135px;
    height: 42px;
    background: none ;
    border: 1px solid #FFFFFF;
    padding: 11px 26px;
    font-family:"Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 38px;
    
}
/* @font-face {
    font-family: "RalewayRegular"; 
    src: url("/attachments/fonts/RalewayRegular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }  */