body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;}
nav{
    height: 70px;
    background-color: black;
    padding: 0 109px 0 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header{
    background: url(../img/town_up.png);
    max-height: 600px;
    width: 100%;
    
}

header .gray_bg{
    display: flex;
    height: 600px;
}
.head_descr{
    padding-top: 109px;
    padding-left: 110px;
}
.head_descr h2{
    width: 129px;
    height: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: #fff;
    margin: 0;
}
.head_title{
    margin: 32px 0;
    width: 544px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #FFFFFF;
    }
.head_hr{
    width: 64px;
    border: 1px solid #FFFFFF;
    margin-left: 0;
}
.head_subtitle{
    width: 282px;
    height: 38px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin: 39px 0;
    }
.a_button{
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.a_button a{

font-family: "Open Sans";
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-decoration: none;
color: #FFFFFF;
}

.head_form_block{
width: 100%;
padding-top: 111px;
padding-right: 111px;
}
.head_form{
    float: right;
    max-width: 370px;
    height: 370px;
    background: #FFFFFF;
    border-radius: 8px;
    /* margin: 0; */
    text-align: center;
}
.head_form p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 56px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}
/* .head_form input{
    border: 0;
    border-bottom: 1px #000;

} */

.input-form{
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.margin_top44{
    margin-top: 44px;
}
.input-field{
    
    width: 252px;
    font-size: 1rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #BDBDBD;
    padding:16px 0;
    color: #BDBDBD;
    
}

.start_button{
    width: 100%;
    height: 54px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 64px;
    background: #EC7979;
    padding: 0;
    border: 0;
    border-radius: 0px 0px 8px 8px;
    }
.media{
    width: 100%;
    max-height: 110px;
    padding: 14px 111px 17px 111px;
    background: #F8EFEF;
    display: flex;
}
.media_descr{
    width: 365px;

}
.media_title{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    margin: 0;
}

.media_text{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    margin: 14px 0 0 0;
}
.media_icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.media_icons img{
    width: 684px;
    margin-left: 129px;
}
.links a{
    padding-left: 48px;
    text-decoration: none;
    width: 76px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
}

.logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #FFFFFF;
}

.color_orange{
    color: #EC7979;
}

.awesome{
    padding: 0 109px 109px 109px ;
    margin: 0 auto;
}
.title {
   
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 25px;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #212121;
}
.block_hr{
    width: 64px;
    border: 1px solid #E72424;
    margin-bottom: 30px;
}
.subtitle{
    margin: 0 auto; 
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #86878B;
    margin-bottom: 67px;
}
.infoblock{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sub_block{
    min-height: 250px;
    max-width: 350px;
    margin: 0 32px;
}
.awesome_img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 70px;
    width: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin-bottom: 30px;
}
.awesome_img img{
    margin: auto;

}
.sub_block_name{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    text-align: center;
    margin-bottom: 16px;
}
.sub_block_descr{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    width: 350px;
    color: #000000;
    text-align: center;

}
.stylish {
    background: url(../img/stylish_bg.png) center center no-repeat;
    background-size: 100%;
    height: 326px;
}

.gray_bg{
    background-color: rgba(0,0,0,0.65);
    width: 100%;
 
}

.min_height326{
    min-height: 326px;
}

.hr_white{
    border-color: #FFFFFF;
}

.wht_title{
    color: #FFFFFF;
    padding-top: 76px;
    margin-bottom: 48px;
}
.wht_subtitle{
    font-family: Raleway;
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}
.download{
    display: flex;
    justify-content: center;
    width: 135px;
    height: 42px;
    background: none ;
    border: 1px solid #FFFFFF;
    padding: 11px 26px;
    font-family:"Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 38px;
    
}
footer{
    background-color: #000;
    min-height: 101px;
    text-align: center;
}
footer img{
    padding-top: 30px;
    margin-bottom: 18px;
}
.f_descr{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18px;
}

.pricing{
    background-color: #F5F5F5;
    min-height: 800px;
    max-width: 1400px;
    padding: 0 112px 60px 112px;                           /*Вопросы по отпуступам */
}

.padding-80{
    padding-top: 80px;
}

/* .margin-15{
    margin-top: -15px;
} */

.space-around{
    justify-content: space-around;
}
.price-box{
    display: flex;
    justify-content: space-evenly;
}
.price-box ul{
    list-style-type: none;
}
.price-box ul:nth-child(2){
    margin-top: -15px;
}
.price-box li{
    margin-top: 4px;
    background-color: #fff;
    color: #86878B;
    width: 340px;
    height: 40px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-box li:nth-child(-n+3){
    margin-top: 2px;
    background-color:#333333;
}
.price-box li:nth-child(2){
    height: 100px;
    font-weight:500;
    font-size: 36px;
}
.price-box li:nth-child(-n+2){
    color: #fff;
}



.infoblock .comment{
    background-color: #E2E2E2;
    width: 298px;
    height: 110px;
    border-radius: 7px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;

}

.customers{
    padding:0 157px 120px 157px;
}
.c_info{
    padding-top: 22px;
    display: flex;
    justify-content: space-around;



}


.c_info .name{
    padding-top: 8px;
    width: 97px;
    height: 27px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    float: right;
}
.c_info .work{
    height: 19px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;


}

.c_descr{
    display: flex;
    justify-content: space-between;
    flex-direction: column;



}



/* @font-face {
    font-family: "RalewayRegular"; 
    src: url("/attachments/fonts/RalewayRegular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }  */